.new-menu button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #77707a;
  background-color: #40005d;
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 35rem;
  max-width: 100%;
}

.actions {
  display: flex;
  justify-content: center;
}
