.button {
  font: inherit;
  cursor: pointer;
  border: 1px solid #641e03;
  background: #641e03;
  color: white;
  padding: 0.25rem 1rem;
  border-radius: 12px;
}

.button:hover,
.button:active {
  background: #7a4e44;
  border-color: #7a4e44;
}

.button:focus {
  outline: none;
}
